:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

.wpcom-masterbar {
  background: var(--nord0);
}

body,
.site,
#bbpress-forums li.bbp-header,
#comments,
#myblogs,
#stats,
#signupoverlay {
  background: var(--nord1);
}

body,
.site,
p,
ul,
ol,
.widget .widget-title,
#footer h4 {
  color: var(--nord4);
}

a:focus,
a:hover,
h2 a:visited {
  color: var(--nord8);
}

a,
a:link,
a:visited,
h2 a:visited {
  color: var(--nord9);
}

.button-primary,
a.button-primary,
.button,
input[type=submit],
button {
  background: var(--nord3);
  border: 1px solid var(--nord0);
  color: var(--nord4);
}

#notes,
#banner,
#bbpress-forums div.even,
#bbpress-forums ul.even,
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
  background: var(--nord2);
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  border-top: none;
}

#footer {
  border-top: 1px solid var(--nord9);
}

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
#bbpress-forums.bbp-forum-content ul.sticky {
  background: var(--nord9) !important;
  color: var(--nord0) !important;
}

.bbp-topics ul.super-sticky a,
.bbp-topics ul.sticky a{
  background: var(--nord9) !important;
  color: var(--nord0) !important;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  border: 1px solid var(--nord0);
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border-top: 1px solid var(--nord0);
}

div#bbpress-forums .bbp-topics,
div#bbpress-forums .bbp-topics a {
  color: var(--nord4);
}


div#bbpress-forums .bbp-topics .status-closed,
div#bbpress-forums .bbp-topics .status-closed a {
  background: var(--nord1);
  color: var(--nord9);
}

#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
  background: var(--nord3);
}

#bbpress-forums li.bbp-footer {
  display: none;
}

#front-search input {
  background: var(--nord1);
  border-color: var(--nord0);
  color: var(--nord4);
}

#front-search input::placeholder {
  color: var(--nord9);
}

#bbpress-forums fieldset.bbp-form {
  border: 1px solid var(--nord0);
}

.topic_tags_delete_tag_form input[type=submit],
.topic_tags_delete_tag_form input[type=submit]:focus,
.topic_tags_delete_tag_form input[type=submit]:hover {
  background: none;
  color: var(--nord9);
}

#topic_tags_add_tag_form input[type=text],
#topic_tags_add_tag_form input[type=submit] {
  background: var(--nord2);
  border: 1px solid var(--nord0);
  color: var(--nord4);
  width: 100%;
  display: inline-block;
}

#topic_tags_add_tag_form input[type=submit] {
  background: var(--nord3);
}

#bbpress-forums fieldset.bbp-form input,
textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content,
select {
  background: var(--nord2);
  border: 1px solid var(--nord0);
  color: var(--nord4);
}

.bbp-pagination-links a:hover,
.bbp-pagination-links span.current,
.bbp-pagination-links a,
.bbp-pagination-links span.current,
#bbcode_buttons div {
  background: var(--nord3);
  border: 1px solid var(--nord0);
  color: var(--nord4) !important;
  font-family: Arial;
  height: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
  background: var(--nord2);
  border: 1px solid var(--nord0);
  color: var(--nord4);
  font-size: 13px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a,
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li a:hover {
  background: none;
  color: var(--nord4);
  opacity: 1;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  border-top: 1px solid var(--nord0);
}

div.bbp-template-notice,
div.indicator-hint {
  background-color: var(--nord11);
  border-color: var(--nord0);
  color: var(--nord4);
}


div.bbp-template-notice.important,
div.bbp-template-notice.important p {
  background-color: var(--nord9);
  border-color: var(--nord0);
  color: var(--nord0);
}

#staff-notes-loaded li.topic-note {
  background-color: var(--nord9);
  border-color: var(--nord0);
  color: var(--nord0);
}

li.topic-note h4 {
  border-bottom: 1px solid var(--nord0);
}

li.topic-note p,
li.topic-note p a,
li.topic-note .note-meta {
  color: var(--nord0);
}